body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #2b3035;
  color: gray;
  margin: 0;
}

div.count {
  position: absolute;
  color: white;
  padding: 10px;
}

.label {
  text-shadow: -1px 1px 1px rgb(0, 0, 0);
  margin-left: 25px;
  font-size: 20px;
}

.loading-icon,
.loading-icon::before,
.loading-icon::after {
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  vertical-align: middle;
  background: #1bc2a6;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.loading-icon::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.loading-icon::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}
.table a {
  color: #fff;
  font-size: large;
}
.table tr {
  background-color: #343a40;
  margin-bottom: 10px;
}
.table td {
  border: none;
  padding: 20px 30px;
  border-bottom: 3px solid #2b3035;
}
.hot_point {
  position: absolute;
  background: #00dfaa;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  pointer-events: all;
}
